<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADD_CATEGORY</title>
</head>
<body>
    <h1>Add a Category</h1>

    <form action="/rango/add_category/" method="post">
        name: <input type="text" name="name"> <br>
        views: <input type="number" name="views"> <br>
        likes: <input type="number" name="likes"> <br>
        <input type="submit" name="submit" value="Create Category" />
    </form>
    {% if not instance %}
        <strong>Category with this Name already exists.</strong>
    {% endif %}
</body>
</html>