{% extends 'rango/base.html' %}
{% block title_block %}Homepage{% endblock %}
{% block content %}
    <h2>Most Liked Categories</h2>
    <h2>Most Viewed Pages</h2>

    {% if request.user.is_authenticated %}
        <p>Rango says howdy testuser!</p>
    {% else %}
        <p>Rango says hey there partner!</p>
    {% endif %}

    <a href="/rango/about/">About</a><br />

    <li><a href="/rango/category/python/">Python</a></li>
    <li><a href="/rango/category/django/">Django</a></li>
    <li><a href="/rango/category/other-frameworks/">Other Frameworks</a></li>

    {% for category in categories %}
        {% empty %} <strong>There are no categories present.</strong>
    {% endfor %}

    {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% empty %} <strong>There are no pages present.</strong>
    {% endfor %}

    <li><a href="/rango/category/test-category/">Test Category</a></li>
{% endblock %}