<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page</title>
</head>
<body>
    <div class="text"><a href="?o=1">Title</a></div>
    <div class="text"><a href="?o=2">Category</a></div>
    <div class="text"><a href="?o=3">Url</a></div>

    <table>
        <tr class="row1"><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="1" class="action-select"></td><th class="field-title"><a href="/admin/rango/page/1/change/">TestPage1</a></th><td class="field-category nowrap">TestCategory</td><td class="field-url">https://www.google.com</td></tr>
    </table>
</body>
</html>